<head>
	<meta charset="utf-8" />
	<meta name="Author" content="Florian Trayon" />
	<meta name="description" content="{{ head_description }}" />
	<meta name="keywords" lang="{{ head_language }}" content="{{ head_keywords }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{{ head_title }}</title>

	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://cdnjs.cloudflare.com" />

	<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500" crossorigin="anonymous" /> -->
	<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700" crossorigin="anonymous" /> -->
	<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;700" crossorigin="anonymous" /> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" crossorigin="anonymous" />
	<link rel="stylesheet" href="styles/main.css" media="screen" />
	<link rel="stylesheet" href="styles/{{ file }}.css" media="screen" />

	<script src="scripts/main.js" defer></script>
	<script src="scripts/{{ file }}.js" defer></script>

	<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon" />
</head>