{# Modèle de base #}
{% extends "base.html.twig" %}

{# Injection de code JavaScript #}
{% block javascript %}
	<script>
		// Libellé demandant d'entrer une valeur pour une commande.
		const execute_value = "{{ t("actions.commands.value")|trans }}";

		// Libellés demandant le nom et le contenue d'une nouvelle commande personnalisée.
		const command_add_name = "{{ t("actions.add.name")|trans }}";
		const command_add_content = "{{ t("actions.add.content")|trans }}";
	</script>
{% endblock %}

{# Contenu de la page demandé #}
{% block content %}
	{# Description de la page #}
	<p>{{ t("actions.description")|trans }}</p>

	{# Actions #}
	<section id="actions">
		{# Titre de la section #}
		<h2>{{ t("actions.actions_title")|trans }}</h2>

		{# Actions de la section #}
		<ul>
			<li data-action="shutdown">
				{# Arrêter le serveur #}
				{{ t("global.shutdown")|trans }}
			</li>

			<li data-action="restart">
				{# Redémarrer le serveur #}
				{{ t("global.restart")|trans }}
			</li>

			<li data-action="update">
				{# Mettre à jour le serveur #}
				{{ t("global.update")|trans }}
			</li>

			<li data-action="service">
				{# Passer en mode de maintenance #}
				{{ t("global.service")|trans }}
			</li>
		</ul>

		<hr />

		{# Interrupteurs de la section #}
		<ul>
			<li data-action="flashlight">
				{# Afficher ou non l'usage de la lampe torche #}
				<span>{{ t("actions.switch.flashlight")|trans }}</span>

				<label class="switch">
					<input type="checkbox" {{ actions_value_flashlight == "1" ? "checked" : "" }} />
					<span></span>
				</label>
			</li>

			<li data-action="cheats">
				{# Autorise ou non l'utilisation des commandes de triche #}
				<span>{{ t("actions.switch.cheats")|trans }}</span>

				<label class="switch">
					<input type="checkbox" {{ actions_value_cheats == "1" ? "checked" : "" }} />
					<span></span>
				</label>
			</li>

			<li data-action="voice">
				{# Autorise ou non les communications vocales #}
				<span>{{ t("actions.switch.voice")|trans }}</span>

				<label class="switch">
					<input type="checkbox" {{ actions_value_voice == "1" ? "checked" : "" }} />
					<span></span>
				</label>
			</li>
		</ul>
	</section>

	{# Commandes #}
	<section id="commands">
		{# Titre de la section #}
		<h2>{{ t("actions.commands_title")|trans }}</h2>

		{# Commandes de la section #}
		<ul>
			<li data-command="level">
				{# Changement de carte/environnement #}
				<span>{{ t("actions.commands.level")|trans }}</span>

				<button type="button" data-action="execute">{{ t("actions.execute_command")|trans }}</button>
			</li>

			<li data-command="password">
				{# Modification du mot de passe #}
				<span>{{ t("actions.commands.password")|trans }}</span>

				<button type="button" data-action="execute">{{ t("actions.execute_command")|trans }}</button>
			</li>

			<li data-command="gravity">
				{# Modification de la gravité applicable à la carte #}
				<span>{{ t("actions.commands.gravity")|trans }}</span>

				<button type="button" data-action="execute">{{ t("actions.execute_command")|trans }}</button>
			</li>

			{% for command in actions_custom_commands %}
				<li data-command="{{ command["command_id"] }}">
					{# Contenu HTML de la commande HTML #}
					<span>{{ command["name"] }}</span>

					<button type="button" data-action="remove">{{ t("actions.remove_command")|trans }}</button>
					<button type="button" data-action="execute">{{ t("actions.execute_command")|trans }}</button>
				</li>
			{% endfor %}

			{% if actions_custom_commands|length < 2 %}
				<li data-action="add">
					{# Ajout d'une commande personnalisée #}
					<span>{{ t("actions.add_command")|trans }}</span>

					{{ t("actions.remaining")|trans|format(2 - actions_custom_commands|length) }}
				</li>
			{% endif %}
		</ul>
	</section>
{% endblock %}