{# Modèle de base #}
{% extends "_main.twig" %}

{# Contenu de la page demandé #}
{% block content %}
	{# Description de la page #}
	<p>{{ actions_phrases["actions_description"] }}</p>

	{# Actions #}
	<section id="actions">
		{# Titre de la section #}
		<h2>{{ actions_phrases["actions_actions_title"] }}</h2>

		{# Actions de la section #}
		<ul>
			<li>
				{# Arrêter le serveur #}
				{{ dashboard_phrases["dashboard_shutdown_title"] }}
				<em>{{ dashboard_phrases["dashboard_shutdown_subtitle"] }}</em>
			</li>

			<li>
				{# Redémarrer le serveur #}
				{{ dashboard_phrases["dashboard_restart_title"] }}
			</li>

			<li>
				{# Mettre à jour le serveur #}
				{{ dashboard_phrases["dashboard_update_title"] }}
			</li>

			<li>
				{# Passer en mode de maintenance #}
				{{ dashboard_phrases["dashboard_maintenance_title"] }}
			</li>

			<li>
				{# Ajouter une nouvelle action personnalisée #}
				{{ actions_phrases["actions_add_action"] }}
				{{ actions_phrases["actions_remaining"]|format(3) }}
			</li>
		</ul>

		<hr />

		{# Interrupteurs de la section #}
		<ul>
			{% for i in range(1, 3) %}
				<li>
					{# Intitulé de l'interrupteur #}
					<span>Interrupteur {{ i }}</span>

					{# Bouton de l'interrupteur #}
					<label class="switch">
						<input type="checkbox" id="{{ "switch_" ~ i }}" name={{ "switch_" ~ i }} checked />
						<span></span>
					</label>
				</li>
			{% endfor %}
		</ul>
	</section>

	{# Commandes #}
	<section id="commands">
		{# Titre de la section #}
		<h2>{{ actions_phrases["actions_commands_title"] }}</h2>

		{# Commandes de la section #}
		<ul>
			{% for i in range(1, 5) %}
				<li>
					<span>Nom de la commande {{ i }}</span>

					{# Supprimer la commande #}
					<button type="button" name="remove_command" value={{ "uuid_" ~ i }}>{{ actions_phrases["actions_commands_remove"] }}</button>

					{# Exécuter la commande #}
					<button type="button" name="execute_command" value={{ "uuid_" ~ i }}>{{ actions_phrases["actions_commands_execute"] }}</button>
				</li>
			{% endfor %}

			<li>
				<span>{{ actions_phrases["actions_add_command"] }}</span>

				{{ actions_phrases["actions_remaining"]|format(2) }}
			</li>
		</ul>

		{# Bouton avec icône pour ajouter une commande #}
		<div data-image="path"></div>
	</section>
{% endblock %}