{# Modèle de base #}
{% extends "base.html.twig" %}

{# Injection de code JavaScript #}
{% block javascript %}
	<script>
		// Libellé demandant d'entrer une valeur pour une commande.
		window.execute_value = "{{ t("actions.commands.value")|trans|escape("js") }}";

		// Libellés demandant le titre et le contenue d'une nouvelle commande personnalisée.
		window.command_add_title = "{{ t("actions.add.title")|trans|escape("js") }}";
		window.command_add_content = "{{ t("actions.add.content")|trans|escape("js") }}";

		// Libellé demandant la suppression ou non d'une commande personnalisée.
		window.edit_remove = "{{ t("actions.edit_remove")|trans|escape("js") }}";
	</script>
{% endblock %}

{# Contenu de la page demandé #}
{% block content %}
	{# Description de la page #}
	<p>{{ t("actions.description")|trans }}</p>

	{# Actions #}
	<section id="actions">
		{# Titre de la section #}
		<h2>{{ t("actions.actions_title")|trans }}</h2>

		{# Actions de la section #}
		<ul>
			<li data-action="shutdown" data-token="{{ csrf_token("server_shutdown") }}" data-route="{{ path("server_action") }}">
				{# Arrêter le serveur #}
				{{ t("global.shutdown")|trans }}

				<em data-action="force" data-token="{{ csrf_token("server_force") }}" data-route="{{ path("server_action") }}">
					{{ t("global.force")|trans }}
				</em>
			</li>

			<li data-action="restart" data-token="{{ csrf_token("server_restart") }}" data-route="{{ path("server_action") }}">
				{# Redémarrer le serveur #}
				{{ t("global.restart")|trans }}
			</li>

			<li data-action="update" data-token="{{ csrf_token("server_update") }}" data-route="{{ path("server_action") }}">
				{# Mettre à jour le serveur #}
				{{ t("global.update")|trans }}
			</li>

			<li data-action="service" data-token="{{ csrf_token("server_service") }}" data-route="{{ path("server_action") }}">
				{# Passer en mode de maintenance #}
				{{ t("global.service")|trans }}
			</li>
		</ul>

		<hr />

		{# Interrupteurs de la section #}
		<ul>
			<li data-action="flashlight" data-token="{{ csrf_token("server_flashlight") }}" data-route="{{ path("server_action") }}">
				{# Afficher ou non l'usage de la lampe torche #}
				<span>{{ t("actions.switch.flashlight")|trans }}</span>

				<label class="switch">
					<input type="checkbox" {{ actions_value_flashlight == "1" ? "checked" : "" }} name="flashlight" />
					<span></span>
				</label>
			</li>

			<li data-action="cheats" data-token="{{ csrf_token("server_cheats") }}" data-route="{{ path("server_action") }}">
				{# Autorise ou non l'utilisation des commandes de triche #}
				<span>{{ t("actions.switch.cheats")|trans }}</span>

				<label class="switch">
					<input type="checkbox" {{ actions_value_cheats == "1" ? "checked" : "" }} name="cheats" />
					<span></span>
				</label>
			</li>

			<li data-action="voice" data-token="{{ csrf_token("server_voice") }}" data-route="{{ path("server_action") }}">
				{# Autorise ou non les communications vocales #}
				<span>{{ t("actions.switch.voice")|trans }}</span>

				<label class="switch">
					<input type="checkbox" {{ actions_value_voice == "1" ? "checked" : "" }} name="voice" />
					<span></span>
				</label>
			</li>
		</ul>
	</section>

	{# Commandes #}
	<section id="commands">
		{# Titre de la section #}
		<h2>{{ t("actions.commands_title")|trans }}</h2>

		{# Commandes de la section #}
		<ul>
			<li data-command="level" data-token="{{ csrf_token("server_level") }}" data-route="{{ path("server_action") }}">
				{# Changement de carte/environnement #}
				<span>{{ t("actions.commands.level")|trans }}</span>

				<button type="button" data-action="execute">{{ t("actions.execute_command")|trans }}</button>
			</li>

			<li data-command="password" data-token="{{ csrf_token("server_password") }}" data-route="{{ path("server_action") }}">
				{# Modification du mot de passe #}
				<span>{{ t("actions.commands.password")|trans }}</span>

				<button type="button" data-action="execute">{{ t("actions.execute_command")|trans }}</button>
			</li>

			<li data-command="gravity" data-token="{{ csrf_token("server_gravity") }}" data-route="{{ path("server_action") }}">
				{# Modification de la gravité applicable à la carte #}
				<span>{{ t("actions.commands.gravity")|trans }}</span>

				<button type="button" data-action="execute">{{ t("actions.execute_command")|trans }}</button>
			</li>

			{% for command in actions_custom_commands %}
				<li data-command="{{ command.id }}">
					{# Contenu HTML de la commande HTML #}
					<span>{{ command.title }}</span>

					<button type="button" data-action="remove" data-token="{{ csrf_token("command_remove") }}" data-route="{{ path("command_remove") }}">
						{{ t("actions.remove_command")|trans }}
					</button>

					<button type="button" data-action="execute" data-token="{{ csrf_token("server_" ~ command.id) }}" data-route="{{ path("server_action") }}">
						{{ t("actions.execute_command")|trans }}
					</button>
				</li>
			{% endfor %}

			{% if actions_custom_commands|length < (is_granted("ROLE_DONOR") ? 2 : 1) %}
				<li data-action="add" data-token="{{ csrf_token("command_add") }}" data-route="{{ path("command_add") }}">
					{# Ajout d'une commande personnalisée #}
					<span>{{ t("actions.add_command")|trans }}</span>

					<em>{{ t("actions.remaining")|trans|format(2 - actions_custom_commands|length) }}</em>
				</li>
			{% endif %}
		</ul>
	</section>
{% endblock %}