{# Nom de la route utilisée par Symfony #}
{% set route_name = app.current_route|split("_")[1] %}

<!DOCTYPE html>
<html lang="{{ app.request.locale ?? app.request.defaultLocale }}" dir="auto" prefix="og: https://ogp.me/ns#">
	{# En-tête du site #}
	<head>
		{# Méta-données du document #}
		<meta charset="utf-8" />
		<meta name="author" content="Florian Trayon" />
		<meta name="description" content="{{ t("head.description")|trans }}" />
		<meta name="keywords" content="console, source, webadmin, panel, custom, gmod, csgo, rust" />
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
		<meta name="theme-color" content="#f59a23" />

		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ app.request.server.get("SYMFONY_DEFAULT_ROUTE_URL") }}" />
		<meta property="og:title" content="{{ t("head.title")|trans }}" />
		<meta property="og:description" content="{{ t("head.description")|trans }}" />
		<meta property="og:image" content="https://opengraph.githubassets.com/13ba739f90d3b9a74a277a81e7412c17603348fc621cdf279c4fa521e625f1f9/FlorianLeChat/Source-Web-Console" />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="{{ app.request.server.get("SYMFONY_DEFAULT_ROUTE_URL") }}" />
		<meta property="twitter:title" content="{{ t("head.title")|trans }}" />
		<meta property="twitter:description" content="{{ t("head.description")|trans }}" />
		<meta property="twitter:image" content="https://opengraph.githubassets.com/13ba739f90d3b9a74a277a81e7412c17603348fc621cdf279c4fa521e625f1f9/FlorianLeChat/Source-Web-Console" />

		{# Titre du document #}
		<title>{{ t("head.title")|trans }}</title>

		{# Pré-connexion des ressources externes #}
		<link rel="preconnect" href="https://www.google.com" />
		<link rel="preconnect" href="https://www.gstatic.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://www.google-analytics.com" />

		{# Polices & feuilles de style CSS #}
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500" crossorigin="anonymous" />

		{{ encore_entry_link_tags(route_name) }}

		{# Scripts JavaScript #}
		<script src="https://www.googletagmanager.com/gtag/js?id={{ global_analytics }}" crossorigin="anonymous" defer></script>
		<script src="https://www.google.com/recaptcha/api.js?render={{ global_recaptcha }}" defer></script>

		<script>
			// Message d'échec si les vérifications côté client échouent.
			const client_check_failed = "{{ t("form.client_check_failed")|trans }}";

			// Message d'échec si les vérifications côté serveur échouent.
			const server_check_failed = "{{ t("form.server_check_failed")|trans }}";

			// Message d'erreur lorsqu'un message du formulaire de contact ne peut pas être envoyé.
			const form_contact_failed = "{{ t("form.contact.failed")|trans }}";

			// Message signalant à l'utilisateur que les majuscules sont activées.
			const capslock_enabled = "{{ t("form.capslock_warning")|trans }}";

			// Message d'erreur lorsqu'une erreur fatale se produit sur un serveur distant.
			const server_fatal_error = "{{ t("global.fatal_error")|trans }}";

			// Clé de sécurité publique pour le service de Google reCAPTCHA.
			const captcha_public_key = "{{ global_recaptcha }}"

			// Identifiant unique pour les mesures de Google Analytics.
			const analytics_identifier = "{{ global_analytics }}"
		</script>

		{# Injection de code JavaScript #}
		{% block javascript %} {% endblock %}

		{{ encore_entry_script_tags(route_name) }}

		{# Icônes et manifeste du document #}
		<link rel="icon" type="image/webp" sizes="16x16" href="{{ asset('build/favicons/16x16.webp') }}" />
		<link rel="icon" type="image/webp" sizes="32x32" href="{{ asset('build/favicons/32x32.webp') }}" />
		<link rel="icon" type="image/webp" sizes="48x48" href="{{ asset('build/favicons/48x48.webp') }}" />
		<link rel="icon" type="image/webp" sizes="192x192" href="{{ asset('build/favicons/192x192.webp') }}" />
		<link rel="icon" type="image/webp" sizes="512x512" href="{{ asset('build/favicons/512x512.webp') }}" />

		<link rel="apple-touch-icon" href="{{ asset('build/favicons/180x180.webp') }}" />
		<link rel="manifest" href="manifest.json" />
	</head>

	<body>
		{# Avertissement page sans JavaScript #}
		<noscript>{{ t("head.no_javascript")|trans }}</noscript>

		{# En-tête de la page #}
		<header>
			{% block header %}
				{# Logo du site #}
				<img src="{{ asset('build/images/logo.svg') }}" alt="Logo" decoding="async" />

				{# Titre du site #}
				<h1>{{ t("header.title")|trans }}</h1>

				{# Sous-titre du site #}
				<h2>{{ t("header.subtitle." ~ route_name)|trans }}</h2>

				{# Barre de recherche #}
				<div id="search">
					<i class="bi bi-search"></i>

					<span>{{ t("header.search.title")|trans }}</span>

					<input type="search" name="search" placeholder="{{ t("header.search.placeholder")|trans }}" autocomplete="off" maxlength="20" required />

					<ul></ul>
				</div>

				{# État de connexion #}
				{# Note : apparaît seulement sur les comptes inscrits #}
				{% if user_identifier is not empty %}
					<a href="{{ path("app_user_index") }}">
						<i class="bi bi-person-circle"></i>
						<span>{{ t("header.user.status")|trans|format(user_identifier|capitalize) }}</span>
					</a>
				{% endif %}
			{% endblock %}
		</header>

		<main>
			{# Barre de navigation #}
			{% block navigation %}
				<nav>
					{# Titre de la barre #}
					<h2>Navigation</h2>

					<ul>
						{# Liste des pages #}
						<li class="{{ route_name == "dashboard" ? "active" : "" }}">
							{# Tableau de bord #}
							<a href="{{ path("app_dashboard_index") }}">
								<i class="bi bi-kanban"></i>
								<span>{{ t("header_subtitle_dashboard") }}</span>
							</a>
						</li>

						<li class="{{ route_name == "statistics" ? "active" : "" }}">
							{# Statistiques #}
							<a href="{{ path("app_statistics_index") }}">
								<i class="bi bi-graph-up"></i>
								<span>{{ header_subtitle_statistics }}</span>
							</a>
						</li>

						<li class="{{ route_name == "configuration" ? "active" : "" }}">
							{# Configuration #}
							<a href="{{ path("app_configuration_index") }}">
								<i class="bi bi-tools"></i>
								<span>{{ header_subtitle_configuration }}</span>
							</a>
						</li>

						<li class="{{ route_name == "actions" ? "active" : "" }}">
							{# Actions et commandes #}
							<a href="{{ path("app_actions_index") }}">
								<i class="bi bi-lightning"></i>
								<span>{{ header_subtitle_actions }}</span>
							</a>
						</li>

						<li class="{{ route_name == "console" ? "active" : "" }}">
							{# Console interactive #}
							<a href="{{ path("app_console_index") }}">
								<i class="bi bi-code-slash"></i>
								<span>{{ header_subtitle_console }}</span>
							</a>
						</li>

						<li class="{{ route_name == "tasks" ? "active" : "" }}">
							{# Tâches planifiées #}
							<a href="{{ path("app_tasks_index") }}">
								<i class="bi bi-calendar3"></i>
								<span>{{ header_subtitle_tasks }}</span>
							</a>
						</li>

						{% if user_identifier is not empty %}
							<li class="{{ route_name == "user" ? "active" : "" }}">
								{# Compte utilisateur #}
								{# Note : apparaît seulement sur les comptes inscrits #}
								<a href="{{ path("app_user_index") }}">
									<i class="bi bi-person-circle"></i>
									<span>{{ header_subtitle_user }}</span>
								</a>
							</li>
						{% endif %}

						{% if user_level == "admin" %}
							<li class="{{ route_name == "admin" ? "active" : "" }}">
								{# Administration #}
								{# Note : apparaît seulement pour les administrateurs #}
								<a href="{{ path("app_admin_index") }}">
									<i class="bi bi-server"></i>
									<span>{{ header_subtitle_admin }}</span>
								</a>
							</li>
						{% endif %}
					</ul>
				</nav>
			{% endblock %}

			{# Contenu de la page demandé #}
			{% block content %} {% endblock %}

			{# Formulaire de contact #}
			<section id="contact">
				{% include("form_contact.html.twig") %}
			</section>

			{# Notifications textuelles #}
			<div id="notifications">
				<i class="bi"></i>
				<span></span>
			</div>

			{# Conteneur du bouton des astuces #}
			<div id="tips">
				<button type="button">?</button>
				<span>{{ t("index.tips")|trans }}</span>
			</div>
		</main>

		{# Pied de page du site #}
		<footer>
			{# Liste des options #}
			<ul>
				<li>
					{# Bouton de retour à l'accueil #}
					<a href="{{ path("app_index_index") }}">
						<i class="bi bi-house-door"></i>
						<span>{{ t("footer.home")|trans }}</span>
					</a>
				</li>

				<li>
					{# Bouton des informations juridiques #}
					<a href="{{ path("app_legal_index") }}">
						<i class="bi bi-flag-fill"></i>
						<span>{{ t("footer.legal")|trans }}</span>
					</a>
				</li>

				<li>
					{# Bouton du formulaire de contact #}
					<a href="javascript:void(0);">
						<i class="bi bi-envelope"></i>
						<span>{{ t("footer.contact")|trans }}</span>
					</a>
				</li>

				<li>
					{# Bouton de la page d'assistance #}
					<a href="{{ path("app_help_index") }}">
						<i class="bi bi-question-circle"></i>
						<span>{{ t("footer.support")|trans }}</span>
					</a>
				</li>

				<li>
					{# Sélecteur des langues #}
					<i class="bi bi-translate"></i>
					<form method="POST">
						<ul>
							{% for code in get_languages() %}
								<li>
									{# Création du bouton avec les informations #}
									<button type="submit" name="language" value="{{ code }}">
										{% if code == "en" %}
											{# Le drapeau britannique possède un code ISO différent #}
											<i class="fi fi-gb"></i>
										{% else %}
											{# Dans le cas contraire, on utilise le comportement par défaut #}
											<i class="fi fi-fr"></i>
										{% endif %}

										{# Affichage du nom de la langue #}
										<span>{{ t("language." ~ code)|trans }}</span>
									</button>
								</li>
							{% endfor %}
						</ul>
					</form>
				</li>
			</ul>

			{# Indicateur de défilement #}
			{# Modification depuis le JavaScript #}
			<div>
				<div></div>
			</div>
		</footer>
	</body>
</html>