{# Modèle de base #}
{% extends "base.html.twig" %}

{# Injection de code JavaScript #}
{% block javascript %}
	<script>
		// Libellé demandant le chemin d'accès vers le fichier de configuration.
		window.storage_path = "{{ t("configuration.path")|trans|escape("js") }}";
	</script>
{% endblock %}

{# Contenu de la page demandé #}
{% block content %}
	{# Description de la page #}
	<p>{{ t("configuration.description")|trans }}</p>

	{# Informations de connexion FTP #}
	<section id="storage" data-route="{{ path("storage_update") }}" data-token="{{ csrf_token("storage_update") }}">
		{# Titre de la section #}
		<h2>{{ t("configuration.storage.title")|trans }}</h2>

		{# Spécifications juridiques #}
		<div>
			<i class="bi bi-exclamation-triangle-fill"></i>
			<span>{{ t("form.rgpd_warning")|trans }}</span>
		</div>

		{# Formulaire d'ajout d'un serveur #}
		<form method="POST">
			{# Adresse IP #}
			<label for="address">{{ t("configuration.storage.address")|trans }}<span>*</span></label>
			<input type="text" autocomplete="off" spellcheck="false" id="address" name="address" placeholder="51.75.125.244" minlength="7" maxlength="15" value="{{ configuration_credentials.address|default() }}" required />

			{# Port de communication #}
			<input type="number" id="port" name="port" placeholder="22" min="1" max="99999" value="{{ configuration_credentials.port|default() }}" required />

			{# Type de protocole #}
			<label for="protocol">{{ t("configuration.storage.protocol")|trans }}<span>*</span></label>
			<select id="protocol" name="protocol">
				<option value="ftp" {{ configuration_credentials.protocol|default("ftp") == "ftp" ? "selected" : "" }}>{{ t("configuration.storage.ftp")|trans }}</option>
				<option value="sftp" {{ configuration_credentials.protocol|default() == "sftp" ? "selected" : "" }}>{{ t("configuration.storage.sftp")|trans }}</option>
			</select>

			{# Nom d'utilisateur #}
			<label for="username">{{ t("configuration.storage.username")|trans }}<span>*</span></label>
			<input type="text" autocomplete="username" spellcheck="false" id="username" name="username" placeholder="johndoe" value="{{ configuration_credentials.username|default() }}" required />

			{# Mot de passe #}
			<label for="password">{{ t("configuration.storage.password")|trans }}</label>
			<input type="password" autocomplete="current-password" spellcheck="false" id="password" name="password" placeholder="?JohnDoe2022!" />

			{# Validation/Mise à jour #}
			<input type="submit" value="{{ configuration_credentials is not empty ? t("global.update")|trans : t("form.validate_button")|trans }}" />
		</form>
	</section>

	{# Paramètres disponibles pour modification #}
	<section id="parameters" data-route="{{ path("configuration_update") }}">
		{# Titre de la section #}
		<h2>{{ t("configuration.settings.title")|trans }}</h2>

		{# Paramètres de la section #}
		<ul>
			<li>
				{# Nom du premier paramètre #}
				<h3>{{ t("configuration.hostname.title")|trans }}</h3>

				{# Description du premier paramètre #}
				<p>{{ t("configuration.hostname.description")|trans }}</p>

				{# Champ de saisie du premier paramètre #}
				<input type="text" autocomplete="off" spellcheck="false" name="hostname" placeholder="<value>" />

				{# Bouton de mise à jour #}
				<button type="button" data-type="hostname" data-token="{{ csrf_token("configuration_hostname") }}">
					<i class="bi bi-cloud-upload-fill"></i>
				</button>
			</li>

			<li>
				{# Nom du deuxième paramètre #}
				<h3>{{ t("configuration.loading.title")|trans }}</h3>

				{# Description du deuxième paramètre #}
				<p>{{ t("configuration.loading.description")|trans }}</p>

				{# Champ de saisie du deuxième paramètre #}
				<input type="text" autocomplete="off" spellcheck="false" name="loading" placeholder="<value>" />

				{# Bouton de mise à jour #}
				<button type="button" data-type="loading" data-token="{{ csrf_token("configuration_loading") }}">
					<i class="bi bi-cloud-upload-fill"></i>
				</button>
			</li>

			<li>
				{# Nom du troisième paramètre #}
				<h3>{{ t("configuration.rcon.title")|trans }}</h3>

				{# Description du troisième paramètre #}
				<p>{{ t("configuration.rcon.description")|trans }}</p>

				{# Champ de saisie du troisième paramètre #}
				<input type="text" autocomplete="off" spellcheck="false" name="rcon" placeholder="<value>" />

				{# Bouton de mise à jour #}
				<button type="button" data-type="password" data-token="{{ csrf_token("configuration_password") }}">
					<i class="bi bi-cloud-upload-fill"></i>
				</button>
			</li>
		</ul>
	</section>
{% endblock %}