<!DOCTYPE html>
<html lang="{{ language }}">
	{{ head_html }}

	<body>
		<noscript>Votre navigateur ne supporte pas ou refuse de charger le JavaScript.</noscript>

		<!-- En-tête de la page -->
		<header>
			{{ header_html }}
		</header>

		<main>
			<!-- Barre de navigation -->
			{{ navigation_html }}

			<!-- Description de la page -->
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>

			<!-- Aperçu de l'état -->
			<section id="overview">
				<!-- Titre de la section -->
				<h2>État du serveur</h2>

				<ul>
					<li>
						<!-- Première information -->
						<div class="circle"></div>
						<h3>Lorem ipsum</h3>
						<span>Lorem ipsum dolor sit amet</span>
					</li>

					<li>
						<!-- Deuxième information -->
						<div class="circle"></div>
						<h3>Lorem ipsum</h3>
						<span>Lorem ipsum dolor sit amet</span>
					</li>

					<li>
						<!-- Troisième information -->
						<div class="circle"></div>
						<h3>Lorem ipsum</h3>
						<span>Lorem ipsum dolor sit amet</span>
					</li>
				</ul>
			</section>

			<!-- Terminal de la console -->
			<section id="terminal">
				<div class="terminal"></div>
			</section>
		</main>

		<!-- Pied-de-page du site -->
		<footer>
			{{ footer_html }}
		</footer>
	</body>
</html>