{# Modèle de base #}
{% extends "base.html.twig" %}

{# Contenu de la page demandé #}
{% block content %}
	{# Description de la page #}
	<p>{{ t("console.description")|trans }}</p>

	{# Contrôleur principal #}
	<section id="controller">
		{# Titre de la section #}
		<h2>{{ t("console.controller.title")|trans }}</h2>

		{# Champ de saisie #}
		<div>
			<input type="text" name="command" placeholder="{{ t("console.controller.placeholder")|trans }}" required />

			<button type="button" title="{{ t("global.update")|trans }}" data-command="0" data-action="execute" data-token="{{ csrf_token("server_0") }}" data-route="{{ path("server_action") }}">
				<i class="bi bi-send-fill"></i>
			</button>
		</div>

		{# Historique des commandes #}
		<ul></ul>
	</section>

	{# Terminal de la console #}
	<section id="terminal" data-route="{{ path("console_live") }}">
		{# Titre de la section #}
		<h2>{{ t("console.terminal_title")|trans }}</h2>

		{# Liste des événements #}
		<ul></ul>
	</section>
{% endblock %}