{# Modèle de base #}
{% extends "base.html.twig" %}

{# Contenu de la page demandé #}
{% block content %}
	{# Description de la page #}
	<p>{{ console_phrases["console_description"] }}</p>

	{# Contrôleur principal #}
	<section id="controller" data-route="{{ path("app_dashboard_action", {name: "console"}) }}">
		{# Titre de la section #}
		<h2>{{ console_phrases["console_controller_title"] }}</h2>

		{# Champ de saisie #}
		<div>
			<input type="text" name="command" placeholder="{{ console_phrases["console_controller_placeholder"] }}" required />

			<button type="button" data-action="execute">
				<i class="bi bi-send-fill"></i>
			</button>
		</div>

		{# Historique des commandes #}
		<ul></ul>
	</section>

	{# Terminal de la console #}
	<section id="terminal">
		{# Titre de la section #}
		<h2>{{ console_phrases["console_terminal_title"] }}</h2>

		{# Liste des événements #}
		<ul>
			{# Première ligne #}
			<li>Lorem ipsum</li>

			{# Deuxième ligne #}
			<li>Lorem ipsum</li>

			{# Troisième ligne #}
			<li>Lorem ipsum</li>
		</ul>
	</section>
{% endblock %}