{# Modèle de base #}
{% extends "base.html.twig" %}

{# Contenu de la page demandé #}
{% block content %}
	{# Description de la page #}
	<p>{{ t("console.description")|trans }}</p>

	{# Contrôleur principal #}
	<section id="controller" data-route="{{ path("server_action") }}">
		{# Titre de la section #}
		<h2>{{ t("console.controller.title")|trans }}</h2>

		{# Champ de saisie #}
		<div>
			<input type="text" name="command" placeholder="{{ t("console.controller.placeholder")|trans }}" required />

			<button type="button" data-action="execute">
				<i class="bi bi-send-fill"></i>
			</button>
		</div>

		{# Historique des commandes #}
		<ul></ul>
	</section>

	{# Terminal de la console #}
	<section id="terminal">
		{# Titre de la section #}
		<h2>{{ t("console.terminal_title")|trans }}</h2>

		{# Liste des événements #}
		<ul>
			{# Première ligne #}
			<li>Lorem ipsum</li>

			{# Deuxième ligne #}
			<li>Lorem ipsum</li>

			{# Troisième ligne #}
			<li>Lorem ipsum</li>
		</ul>
	</section>
{% endblock %}