{# Modèle de base #}
{% extends "base.html.twig" %}

{# Injection de code JavaScript #}
{% block javascript %}
	<script>
		// Libellé demandant la suppression ou non du serveur actuel.
		window.edit_remove = "{{ t("dashboard.edit.remove")|trans|escape("js") }}";

		// Libellés demandant le changement de l'adresse IP/port et le mot de passe du serveur.
		window.edit_address = "{{ t("dashboard.edit.address")|trans|escape("js") }}";
		window.edit_port = "{{ t("dashboard.edit.port")|trans|escape("js") }}";
		window.edit_password = "{{ t("dashboard.edit.password")|trans|escape("js") }}";
	</script>
{% endblock %}

{# Contenu de la page demandé #}
{% block content %}
	{# Description de la page #}
	<p>{{ t("dashboard.description")|trans }}</p>

	{# Sélection des serveurs #}
	<section id="servers" data-route="{{ path("server_monitor") }}">
		{# Titre de la section #}
		<h2>{{ t("dashboard.servers")|trans }}</h2>

		<ul>
			{% for server in dashboard_servers %}
				{# Récupération de l'indice de la boucle #}
				{% set indice = loop.index %}

				{# Informations générales de chaque serveur #}
				<li data-image="{{ asset("build/images/games/" ~ server.game ?? 0 ~ "_background.webp") }}" class="{{ indice > 4 ? "hidden" : "" }}">
					{# Construction de l'adresse IP #}
					{% set address = server.address ~ ":" ~ server.port %}

					{# Informations générales #}
					<span>{{ get_name_by_game_id(server.game, address) ~ " (" ~ loop.index ~ ")" }}</span>
					<span>{{ address }}</span>

					{# Édition des propriétés du serveur #}
					<form method="POST">
						<input type="hidden" name="id" value="{{ server.id }}" />
						<input type="hidden" name="token" value="{{ csrf_token("server_edit") }}">
						<input type="hidden" name="token" value="{{ csrf_token("server_delete") }}">

						<button type="submit" name="server_edit">
							<i class="bi bi-pencil-square"></i>
						</button>
					</form>

					{# Connexion directe au serveur #}
					<form method="POST">
						<input type="hidden" name="id" value="{{ server.id }}" />
						<input type="hidden" name="token" value="{{ csrf_token("server_connect") }}">
						<input type="hidden" name="action" value="connect" />

						<button type="submit" name="server_connect">
							<i class="bi bi-plug"></i>
						</button>
					</form>
				</li>
			{% endfor %}
		</ul>

		<button type="button">
			{# Serveurs précédents #}
			<i class="bi bi-chevron-left"></i>
		</button>

		<span>1 / {{ max(dashboard_servers|length / 4, 1)|round(0, "ceil") }}</span>

		<button type="button">
			{# Serveurs suivants #}
			<i class="bi bi-chevron-right"></i>
		</button>
	</section>

	{# État général #}
	<section id="state">
		{# Titre de la section #}
		<h3>{{ t("dashboard.state.title")|trans }}</h3>

		<ul>
			<li>
				{# Informations d'état #}
				<div class="circle"></div>
				<h4>{{ t("dashboard.state.info")|trans }}</h4>
				<em data-field="state">{{ t("dashboard.state.nodata")|trans|raw }}</em>
			</li>

			<li>
				{# Nom de la carte actuelle #}
				<div class="circle"></div>
				<h4>{{ t("dashboard.state.map")|trans }}</h4>
				<em data-field="map">gm_source</em>
			</li>

			<li>
				{# Nombre de joueurs (robots compris) #}
				<div class="circle"></div>
				<h4>{{ t("dashboard.state.players")|trans }}</h4>
				<em data-field="players">0 / 0 [0]</em>
			</li>
		</ul>
	</section>

	{# Liste des joueurs #}
	<section id="players">
		{# Titre de la section #}
		<h3>{{ t("dashboard.players")|trans }}</h3>

		{# Détails des joueurs #}
		<ul></ul>
	</section>

	{# Actions rapides #}
	<section id="actions">
		{# Titre de la section #}
		<h3>{{ t("header.search.title")|trans }}</h3>

		<ul>
			<li data-action="shutdown" data-token="{{ csrf_token("server_shutdown") }}" data-route="{{ path("server_action") }}">
				{# Arrêter le serveur #}
				{{ t("global.shutdown")|trans }}

				<em data-action="force" data-token="{{ csrf_token("server_force") }}" data-route="{{ path("server_action") }}">
					{{ t("global.force")|trans }}
				</em>
			</li>

			<li data-action="restart" data-token="{{ csrf_token("server_restart") }}" data-route="{{ path("server_action") }}">
				{# Redémarrer le serveur #}
				{{ t("global.restart")|trans }}
			</li>

			<li data-action="update" data-token="{{ csrf_token("server_update") }}" data-route="{{ path("server_action") }}">
				{# Mettre à jour le serveur #}
				{{ t("global.update")|trans }}
			</li>

			<li data-action="service" data-token="{{ csrf_token("server_service") }}" data-route="{{ path("server_action") }}">
				{# Passer en mode de maintenance #}
				{{ t("global.service")|trans }}
			</li>
		</ul>
	</section>

	{# Dernière action réalisée #}
	<section id="last">
		{# Titre de la section #}
		<h3>{{ t("dashboard.actions")|trans }}</h3>

		{# Nom des dernières tâches (descendantes) #}
		<ul>
			{% for logs in dashboard_logs %}
				<li>
					{# Icône représentative de la tâche #}
					<i class="bi bi-check-square-fill" data-type="{{ logs.action }}"></i>

					{# Heure de l'actionnement #}
					<span>{{ logs.date|date("H:m:s (d/m)") }}</span>

					{# Titre de l'action #}
					{% set console = t("header.subtitle.console")|trans %}
					<em>{{ logs.action == console ? console : t("global." ~ logs.action)|trans|default(logs.action|capitalize) }}</em>
				</li>
			{% endfor %}
		</ul>
	</section>
{% endblock %}