{# Modèle de base #}
{% extends "_main.twig" %}

{# Contenu de la page demandé #}
{% block content %}
	{# Description de la page #}
	<p>{{ dashboard_phrases["dashboard_description"] }}</p>

	{# Sélection des serveurs #}
	<section id="servers">
		{# Titre de la section #}
		<h2>{{ dashboard_phrases["dashboard_servers"] }}</h2>

		<ul>
			<li>
				{# Premier serveur #}
				<span>Nom du premier serveur</span>
				<span>XX.XX.XX.XX / XX</span>

				<button type="button" name="server_edit" value="uuid_1">
					{# Édition des propriétés du serveur #}
					<i class="bi bi-pencil-square"></i>
				</button>

				<button type="button" name="server_connect" value="uuid_1">
					{# Connexion directe au serveur #}
					<i class="bi bi-plug"></i>
				</button>
			</li>

			<li>
				{# Deuxième serveur #}
				<span>Nom du second serveur</span>
				<span>XX.XX.XX.XX / XX</span>

				<button type="button" name="server_edit" value="uuid_2">
					{# Édition des propriétés du serveur #}
					<i class="bi bi-pencil-square"></i>
				</button>

				<button type="button" name="server_connect" value="uuid_2">
					{# Connexion directe au serveur #}
					<i class="bi bi-plug"></i>
				</button>
			</li>

			<li>
				{# Troisième serveur #}
				<span>Nom du troisième serveur</span>
				<span>XX.XX.XX.XX / XX</span>

				<button type="button" name="server_edit" value="uuid_3">
					{# Édition des propriétés du serveur #}
					<i class="bi bi-pencil-square"></i>
				</button>

				<button type="button" name="server_connect" value="uuid_3">
					{# Connexion directe au serveur #}
					<i class="bi bi-plug"></i>
				</button>
			</li>
		</ul>

		<button type="button" name="servers_list" value="0">
			{# Serveurs précédents #}
			<i class="bi bi-chevron-left"></i>
		</button>

		<span>1 / 3</span>

		<button type="button" name="servers_list" value="2">
			{# Serveurs suivants #}
			<i class="bi bi-chevron-right"></i>
		</button>
	</section>

	{# État général #}
	<section id="state">
		{# Titre de la section #}
		<h3>{{ dashboard_phrases["dashboard_state"] }}</h3>

		<ul>
			<li>
				{# Première information #}
				<div class="circle"></div>
				<h4>Lorem ipsum</h4>
				<em>Lorem ipsum dolor sit amet</em>
			</li>

			<li>
				{# Deuxième information #}
				<div class="circle"></div>
				<h4>Lorem ipsum</h4>
				<em>Lorem ipsum dolor sit amet</em>
			</li>

			<li>
				{# Troisième information #}
				<div class="circle"></div>
				<h4>Lorem ipsum</h4>
				<em>Lorem ipsum dolor sit amet</em>
			</li>
		</ul>
	</section>

	{# Statistiques importantes #}
	<section id="stats">
		{# Titre de la section #}
		<h3>{{ header_phrases["header_subtitle_statistics"] }}</h3>

		{# Description de la section #}
		<p>Lorem ipsum dolor sit amet</p>

		{# Graphiques simplifiées #}
		<div class="chart"></div>

		<ul>
			<li class="circle"></li>
			<li class="circle"></li>
			<li class="circle"></li>
		</ul>
	</section>

	{# Actions rapides #}
	<section id="actions">
		{# Titre de la section #}
		<h3>{{ header_phrases["header_search_title"] }}</h3>

		<ul>
			<li>
				{# Arrêter le serveur #}
				{{ global_phrases["global_shutdown_title"] }}
				<em>{{ global_phrases["global_shutdown_subtitle"] }}</em>
			</li>

			<li>
				{# Redémarrer le serveur #}
				{{ global_phrases["global_restart_title"] }}
			</li>

			<li>
				{# Mettre à jour le serveur #}
				{{ global_phrases["global_update_title"] }}
			</li>

			<li>
				{# Passer en mode de maintenance #}
				{{ global_phrases["global_maintenance_title"] }}
			</li>
		</ul>
	</section>

	{# Dernière action réalisée #}
	<section id="last">
		{# Titre de la section #}
		<h3>{{ dashboard_phrases["dashboard_actions"] }}</h3>

		{# Nom des dernières tâches (descendantes) #}
		<ul>
			<li>
				{# Dernière tâche effectuée #}
				<i class="bi bi-check-square-fill"></i>
				<span>XXhXX</span>
				<em>Lorem ipsum dolor sit amet</em>
			</li>

			<li>
				{# Avant-dernière tâche effectuée #}
				<i class="bi bi-x-square-fill"></i>
				<span>XXhXX</span>
				<em>Lorem ipsum dolor sit amet</em>
			</li>

			<li>
				{# Tâche la plus anciennne effectuée #}
				<i class="bi bi-cloud-check-fill"></i>
				<span>XXhXX</span>
				<em>Lorem ipsum dolor sit amet</em>
			</li>
		</ul>
	</section>
{% endblock %}