{# Informations générales de l'utilisateur #}
<article id="user">
	{# Titre du formulaire #}
	<h2>{{ t("index.register")|trans }}</h2>

	{# Description du formulaire #}
	<p>{{ t("form.register.description.user")|trans }}</p>

	{# Spécifications juridiques #}
	<div>
		<i class="bi bi-exclamation-triangle-fill"></i>
		<span>{{ t("form.rgpd_warning")|trans }}</span>
	</div>

	{# Champs du formulaire #}
	<form novalidate>
		{# Message d'erreur #}
		<output class="error"></output>

		{# Nom d'utilisateur #}
		<label for="register_username">{{ t("form.register.username")|trans }}<span>*</span></label>
		<input type="text" autocomplete="username" autocapitalize="off" spellcheck="false" id="register_username" name="username" placeholder="johndoe" minlength="10" maxlength="30" required />
		<span></span>

		{# Mot de passe #}
		<label for="register_password">{{ t("form.register.password")|trans }}<span>*</span></label>
		<input type="password" autocomplete="new-password" autocapitalize="off" spellcheck="false" id="register_password" name="password" placeholder="?JohnDoe2022!" minlength="10" maxlength="50" required />
		<span></span>

		{# Génération d'un mot de passe sécurisé #}
		<label for="register_generation">{{ t("form.register.generation")|trans }}</label>
		<input type="checkbox" id="register_generation" /><br /><br />

		{# Bouton d'affichage du mot de passe #}
		<label for="register_clear">{{ t("form.clear_password")|trans }}</label>
		<input type="checkbox" id="register_clear" /><br /><br />

		{# Se souvenir de la connexion #}
		<label for="register_remember">{{ t("form.remember_me")|trans }}</label>
		<input type="checkbox" id="register_remember" name="remember_me" /><br /><br />

		{# Validation/annulation #}
		<input type="reset" value="{{ t("form.cancel_button")|trans }}" />
		<input type="submit" value="{{ t("form.validate_button")|trans }}" />
	</form>

	{# Liste des étapes actuelles #}
	<ul>
		<li class="active">1</li>
		<li>2</li>
	</ul>
</article>

{# Informations du serveur #}
<article id="server">
	{# Titre du formulaire #}
	<h2>{{ t("form.register.server")|trans }}</h2>

	{# Description du formulaire #}
	<p>{{ t("form.register.description.server")|trans }}</p>

	{# Spécifications juridiques #}
	<div>
		<i class="bi bi-exclamation-triangle-fill"></i>
		<span>{{ t("form.rgpd_warning")|trans }}</span>
	</div>

	{# Champs du formulaire #}
	<form novalidate>
		{# Message d'erreur #}
		<output class="error"></output>

		{# Informations client (adresse IP & port) #}
		<label for="address">{{ t("form.register.client.title")|trans }}<span>*</span></label>

		<input type="text" autocomplete="off" autocapitalize="off" spellcheck="false" id="address" name="address" placeholder="51.75.125.244" minlength="7" maxlength="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$" required>
		<span></span>

		<input type="number" name="port" placeholder="27015" min="1" max="99999" required />
		<span></span>

		<em>{{ t("form.register.client.description")|trans }}</em>

		<hr />

		{# Informations administrateur (mot de passe) #}
		<label for="password">{{ t("form.register.admin.title")|trans }}</label>

		<input type="text" id="password" name="password" placeholder="a2D2ea4NE6e9As" />

		<em>{{ t("form.register.admin.description")|trans }}</em>

		{# Validation/annulation #}
		<input type="reset" value="{{ t("form.cancel_button")|trans }}" />
		<input type="submit" value="{{ t("form.validate_button")|trans }}" />
	</form>

	{# Liste des étapes actuelles #}
	<ul>
		<li>1</li>
		<li class="active">2</li>
	</ul>
</article>