{# Titre du formulaire #}
<h2>{{ t("footer.contact")|trans }}</h2>

{# Description du formulaire #}
<p>{{ t("form.contact.description")|trans }}</p>

{# Spécifications juridiques #}
<div>
	<i class="bi bi-exclamation-triangle-fill"></i>
	<span>{{ t("form.rgpd_warning")|trans }}</span>
</div>

<form novalidate>
	{# Message d'erreur #}
	<p class="error"></p>

	{# Message de succès #}
	<p class="success">{{ t("form.contact.success")|trans }}</p>

	{# Adresse email #}
	<label for="email">{{ t("form.contact.email")|trans }}<span>*</span></label>
	<input type="email" autocomplete="email" spellcheck="false" id="email" name="email" placeholder="johndoe@gmail.com" minlength="10" maxlength="100" required />
	<span></span>

	{# Sujet de la prise de contact #}
	<label for="subject">{{ t("form.contact.subject.default")|trans }}<span>*</span></label>
	<select id="subject" name="subject">
		{% for i in range(1, 3) %}
			<option value="subject.{{ i }}">{{ t("form.contact.subject." ~ i)|trans }}</option>
		{% endfor %}
	</select>

	{# Contenu du message #}
	<label for="content">{{ t("form.contact.content")|trans }}<span>*</span></label>
	<textarea id="content" name="content" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit." minlength="50" maxlength="4000" required></textarea>
	<span></span>

	{# Champ caché pour le jeton de sécurité (CSRF) #}
	<input type="hidden" name="token" value="{{ csrf_token("contact") }}">

	{# Validation/annulation #}
	<input type="reset" value="{{ t("form.cancel_button")|trans }}" />
	<input type="submit" value="{{ t("form.validate_button")|trans }}" />
</form>