{# Titre du formulaire #}
<h2>{{ t("index.login")|trans }}</h2>

{# Description du formulaire #}
<p>{{ t("form.login.description")|trans }}</p>

{# Champs du formulaire #}
<form novalidate>
	{# Message d'erreur #}
	<p class="error"></p>

	{# Nom d'utilisateur #}
	<label for="login_username">{{ t("form.login.username")|trans }}<span>*</span></label>
	<input type="text" autocomplete="username" autocapitalize="off" spellcheck="false" id="login_username" name="username" placeholder="johndoe" minlength="10" maxlength="30" required />
	<span></span>

	{# Mot de passe #}
	<label for="login_password">{{ t("form.login.password")|trans }}<span>*</span></label>
	<input type="password" autocomplete="current-password" autocapitalize="off" spellcheck="false" id="login_password" name="password" placeholder="?JohnDoe2022!" minlength="10" maxlength="100" required />
	<span></span>

	{# Liens vers l'inscription, connexion unique ou la récupération de mot de passe. #}
	<em data-token="{{ csrf_token("user_recover") }}" data-route="{{ path("user_recover") }}">{{ t("form.login.links")|trans|raw }}</em>

	{# Bouton d'affichage du mot de passe #}
	<label for="login_clear">{{ t("form.clear_password")|trans }}</label>
	<input type="checkbox" id="login_clear" /><br /><br />

	{# Se souvenir de la connexion #}
	<label for="login_remember">{{ t("form.remember_me")|trans }}</label>
	<input type="checkbox" id="login_remember" name="remember_me" /><br /><br />

	{# Validation/annulation #}
	<input type="reset" value="{{ t("form.cancel_button")|trans }}" />
	<input type="submit" value="{{ t("form.validate_button")|trans }}" />
</form>