<!DOCTYPE html>
<html lang="{{ head_language }}">
	{{ head_html }}

	<body>
		<noscript>Votre navigateur ne supporte pas ou refuse de charger le JavaScript.</noscript>

		<!-- En-tête de la page -->
		<header>
			<!-- Formulaire d'inscription -->
			<button>Inscription</button>

			<!-- Formulaire de connexion -->
			<button>Connexion</button>
		</header>

		<main>
			<!-- Barre de navigation -->
			<nav>

			</nav>

			<!-- Navigation latérale -->
			<aside>

			</aside>

			<!-- Carrousel des images -->
			<section id="carousel">
				<ul>
					<li><img src="path" draggable="false" alt="Première image" /></li>
					<li><img src="path" draggable="false" alt="Deuxième image" /></li>
					<li><img src="path" draggable="false" alt="Troisième image" /></li>
				</ul>
			</section>

			<!-- Informations générales du site -->
			<section id="informations">
				<!-- Logo du site -->
				<img src="path" draggable="false" alt="Logo du site" />

				<!-- Titre du site -->
				<h1>{{ head_title }}</h1>

				<!-- Paragraphe de description principal -->
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>

				<!-- Bouton de défilement -->
				<img src="path" draggable="false" alt="Icône de défilement" />

				<!-- Paragraphe pour chaque image -->
				<ul>
					<li>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</li>
					<li>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</li>
					<li>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</li>
				</ul>
			</section>

			<!-- Formulaire d'inscription -->
			<section id="signup">
				{{ body_signup }}
			</section>

			<!-- Formulaire de connexion -->
			<section id="signin">
				{{ body_signin }}
			</section>

			<!-- Formulaire de contact -->
			<section id="contact">
				{{ body_contact }}
			</section>

			<!-- Bouton vers une info-bulle -->
			<button>?</button>
			<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
		</main>

		<!-- Pied-de-page du site -->
		<footer>
			{{ footer_options }}
		</footer>
	</body>
</html>