{# Modèle de base #}
{% extends "base.html.twig" %}

{# Injection de code JavaScript #}
{% block javascript %}
	<script>
		// Libellé demandant la suppression ou non d'une tâche planifiée.
		window.edit_remove = "{{ t("tasks.edit_remove")|trans|escape("js") }}";
	</script>
{% endblock %}

{# Contenu de la page demandé #}
{% block content %}
	{# Description de la page #}
	<p>{{ t("tasks.description")|trans }}</p>

	<section id="tasks" data-add-route="{{ path("app_tasks_add") }}" data-remove-route="{{ path("app_tasks_remove") }}">
		{# Titre de la section #}
		<h2>{{ t("header.subtitle.tasks")|trans }}</h2>

		{# Visualisation des tâches planifiées #}
		<table>
			{# En-tête du tableau #}
			<thead>
				<tr>
					<th>{{ t("tasks.label.server")|trans }}</th>
					<th>{{ t("tasks.label.date")|trans }}</th>
					<th>{{ t("tasks.label.action")|trans }}</th>
				</tr>
			</thead>

			{# Corps du tableau #}
			<tbody>
				{% for task in tasks_list %}
					<tr data-task="{{ task.id }}" class="{{ task.state != "waiting" ? "finished" : "" }}">
						<td>
							{# Récupération de l'indice de la boucle principale #}
							{% set indice = loop.index %}

							{# Détermination de certaines informations du serveur #}
							{% for server in tasks_servers %}
								{% if server.id == task.server.id %}
									{# Construction de l'adresse IP #}
									{% set address = server.address ~ ":" ~ server.port %}

									{# Nom du serveur #}
									{{ get_name_by_game_id(server.game, address) ~ " (" ~ indice ~ ")" }}

									{# Adresse IP du serveur #}
									<em data-server="{{ server.id }}">{{ server.address ~ ":" ~ server.port }}</em>
								{% endif %}
							{% endfor %}
						</td>

						{# Date de déclenchement #}
						<td>{{ task.date|date("H:m | d/m/Y") }}</td>

						{# Action de déclenchement #}
						<td>{{ t("global." ~ task.action)|trans }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{# Gestion des tâches planifiées #}
		<form novalidate>
			{# Serveur concerné #}
			<div>
				<label for="server">{{ t("tasks.label.server")|trans }}</label>
				<select name="server">
					{% for server in tasks_servers %}
						<li>
							<option data-server="{{ server.id }}">{{ server.address ~ ":" ~ server.port }}</option>
						</li>
					{% endfor %}
				</select>
			</div>

			{# Date de déclenchement #}
			<div>
				<label for="date">{{ t("tasks.label.date")|trans }}</label>
				<input type="datetime-local" name="date" min="{{ "now"|date("Y-m-d H:i") }}" max="{{ "+1 year"|date("Y-m-d H:i") }}" />
			</div>

			{# Action de réalisation #}
			<div>
				<label for="action">{{ t("tasks.label.action")|trans }}</label>
				<select name="action">
					<option value="shutdown">{{ t("global.shutdown")|trans }}</option>
					<option value="restart">{{ t("global.restart")|trans }}</option>
					<option value="update">{{ t("global.update")|trans }}</option>
					<option value="service">{{ t("global.service")|trans }}</option>
				</select>
			</div>

			{# Champs cachés pour les jetons de sécurité (CSRF) #}
			<input type="hidden" name="token" value="{{ csrf_token("server_tasks") }}">

			{# Validation finale #}
			<input type="submit" value="{{ t("form.validate_button")|trans }}" />
		</form>
	</section>
{% endblock %}