{# Modèle de base #}
{% extends "base.html.twig" %}

{# Injection de code JavaScript #}
{% block javascript %}
	<script>
		// Libellé demandant la suppression ou non du compte utilisateur.
		window.edit_remove = "{{ t("user.edit_remove")|trans|escape("js") }}";

		// Message de confirmation après une connexion via le protocole OAuth.
		window.oauth_success = "{{ t("user.oauth_success")|trans|escape("js") }}";
	</script>
{% endblock %}

{# Contenu de la page demandé #}
{% block content %}
	{# Description de la page #}
	<p>{{ t("user.description")|trans }}</p>

	{# Informations du compte #}
	<section id="account">
		{# Titre de la section #}
		<h2>{{ t("user.account")|trans }}</h2>

		{# Champs du formulaire #}
		<form novalidate>
			{# Nom d'utilisateur #}
			<div>
				<label for="username">{{ t("form.register.username")|trans }}<span>*</span></label>
				<input type="text" autocomplete="username" spellcheck="false" id="username" name="username" placeholder="johndoe" minlength="10" maxlength="50" required />
			</div>

			{# Mot de passe #}
			<div>
				<label for="userpass">{{ t("form.register.password")|trans }}<span>*</span></label>
				<input type="password" autocomplete="current-password" spellcheck="false" id="userpass" name="password" placeholder="?JohnDoe2022!" minlength="10" maxlength="60" required />
			</div>

			{# Suppression/mise à jour #}
			<div>
				<input type="submit" data-action="remove" data-route="{{ path("user_remove") }}" data-token="{{ csrf_token("user_remove") }}" value="{{ t("global.remove")|trans }}" />
				<input type="submit" data-action="update" data-route="{{ path("user_update") }}" data-token="{{ csrf_token("user_update") }}" value="{{ t("global.update")|trans }}" />
			</div>
		</form>
	</section>

	<section id="actions">
		{# Titre de la section #}
		<h2>{{ t("user.actions")|trans }}</h2>

		{# Bouton de déconnexion #}
		<input type="submit" data-action="logout" data-route="{{ path("user_logout") }}" data-token="{{ csrf_token("user_logout") }}" value="{{ t("user.disconnect")|trans }}" />

		{# Bouton de reconnexion #}
		<input type="submit" data-action="login" data-route="{{ path("user_login") }}" data-token="{{ csrf_token("user_login") }}" value="{{ t("user.reconnect")|trans }}" />
	</section>

	{# Ajout d'un serveur #}
	<section id="register" data-route="{{ path("server_new") }}" data-token="{{ csrf_token("user_register") }}">
		{% include("form_register.html.twig") %}
	</section>
{% endblock %}