{# Modèle de base #}
{% extends "base.html.twig" %}

{# Injection de code JavaScript #}
{% block javascript %}
	<script>
		// Libellé demandant la suppression ou non du compte utilisateur.
		const edit_remove = "{{ user_phrases["user_edit_remove"] }} ";
	</script>
{% endblock %}

{# Contenu de la page demandé #}
{% block content %}
	{# Description de la page #}
	<p>{{ user_phrases["user_description"] }}</p>

	{# Informations du compte #}
	<section id="account">
		{# Titre de la section #}
		<h2>{{ user_phrases["user_account"] }}</h2>

		{# Champs du formulaire #}
		<form novalidate>
			{# Nom d'utilisateur #}
			<div>
				<label for="account_username">{{ form_phrases["form_signup_username"] }}<span>*</span></label>
				<input type="text" autocomplete="username" spellcheck="false" id="account_username" name="username" placeholder="johndoe" minlength="10" maxlength="50" required />
			</div>

			{# Mot de passe #}
			<div>
				<label for="account_password">{{ form_phrases["form_signup_password"] }}<span>*</span></label>
				<input type="password" autocomplete="current-password" spellcheck="false" id="account_password" name="password" placeholder="?JohnDoe2022!" minlength="10" maxlength="60" required />
			</div>

			{# Suppression/mise à jour #}
			<div>
				<input type="submit" data-action="remove" value="{{ global_phrases["global_remove_title"] }}" />
				<input type="submit" data-action="update" value="{{ global_phrases["global_update_title"] }}" />
			</div>
		</form>
	</section>

	<section id="actions">
		{# Titre de la section #}
		<h2>{{ user_phrases["user_actions"] }}</h2>

		{# Bouton de déconnexion #}
		<input type="submit" data-action="disconnect" value="{{ user_phrases["user_disconnect"] }}" />

		{# Bouton de reconnexion #}
		<input type="submit" data-action="reconnect" value="{{ user_phrases["user_reconnect"] }}" />
	</section>

	{# Ajout d'un serveur #}
	<section id="signup">
		{% include("form_signup.twig") %}
	</section>
{% endblock %}