{# Modèle de base #}
{% extends "base.twig" %}

{# Injection de code JavaScript #}
{% block javascript %}
	<script>
		// Libellé demandant d'entrer une valeur pour une commande.
		const execute_value = "{{ actions_phrases["actions_commands_value"] }}";

		// Libellés demendant le nom et le contenue d'une nouvelle commande personnalisée.
		const command_add_name = "{{ actions_phrases["actions_add_name"] }}";
		const command_add_content = "{{ actions_phrases["actions_add_content"] }}";
	</script>
{% endblock %}

{# Contenu de la page demandé #}
{% block content %}
	{# Description de la page #}
	<p>{{ actions_phrases["actions_description"] }}</p>

	{# Actions #}
	<section id="actions">
		{# Titre de la section #}
		<h2>{{ actions_phrases["actions_actions_title"] }}</h2>

		{# Actions de la section #}
		<ul>
			<li data-action="shutdown">
				{# Arrêter le serveur #}
				{{ global_phrases["global_shutdown_title"] }}
				<em>{{ global_phrases["global_shutdown_subtitle"] }}</em>
			</li>

			<li data-action="restart">
				{# Redémarrer le serveur #}
				{{ global_phrases["global_restart_title"] }}
			</li>

			<li data-action="update">
				{# Mettre à jour le serveur #}
				{{ global_phrases["global_update_title"] }}
			</li>

			<li data-action="service">
				{# Passer en mode de maintenance #}
				{{ global_phrases["global_service_title"] }}
			</li>
		</ul>

		<hr />

		{# Interrupteurs de la section #}
		<ul>
			<li data-action="flashlight">
				{# Afficher ou non l'usage de la lampe torche #}
				<span>{{ actions_phrases["actions_switch_flashlight"] }}</span>

				<label class="switch">
					<input type="checkbox" {{ actions_value_flashlight == "1" ? "checked" : "" }} />
					<span></span>
				</label>
			</li>

			<li data-action="cheats">
				{# Autorise ou non l'utilisation des commandes de triche #}
				<span>{{ actions_phrases["actions_switch_cheats"] }}</span>

				<label class="switch">
					<input type="checkbox" {{ actions_value_cheats == "1" ? "checked" : "" }} />
					<span></span>
				</label>
			</li>

			<li data-action="voice">
				{# Autorise ou non les communications vocales #}
				<span>{{ actions_phrases["actions_switch_voice"] }}</span>

				<label class="switch">
					<input type="checkbox" {{ actions_value_voice == "1" ? "checked" : "" }} />
					<span></span>
				</label>
			</li>
		</ul>
	</section>

	{# Commandes #}
	<section id="commands">
		{# Titre de la section #}
		<h2>{{ actions_phrases["actions_commands_title"] }}</h2>

		{# Commandes de la section #}
		<ul>
			<li data-command="level">
				{# Changement de carte/environnement #}
				<span>{{ actions_phrases["actions_commands_level"] }}</span>

				<button type="button" data-action="execute">{{ actions_phrases["actions_commands_execute"] }}</button>
			</li>

			<li data-command="password">
				{# Modification du mot de passe #}
				<span>{{ actions_phrases["actions_commands_password"] }}</span>

				<button type="button" data-action="execute">{{ actions_phrases["actions_commands_execute"] }}</button>
			</li>

			<li data-command="gravity">
				{# Modification de la gravité applicable à la carte #}
				<span>{{ actions_phrases["actions_commands_gravity"] }}</span>

				<button type="button" data-action="execute">{{ actions_phrases["actions_commands_execute"] }}</button>
			</li>

			{% for command in actions_custom_commands %}
				<li data-command="{{ command["command_id"] }}">
					{# Contenu HTML de la commande HTML #}
					<span>{{ command["name"] }}</span>

					<button type="button" data-action="remove">{{ actions_phrases["actions_commands_remove"] }}</button>
					<button type="button" data-action="execute">{{ actions_phrases["actions_commands_execute"] }}</button>
				</li>
			{% endfor %}

			{% if actions_custom_commands|length < 2 %}
				<li data-action="add">
					{# Ajout d'une commande personnalisée #}
					<span>{{ actions_phrases["actions_add_command"] }}</span>

					{{ actions_phrases["actions_remaining"]|format(2 - actions_custom_commands|length) }}
				</li>
			{% endif %}
		</ul>
	</section>
{% endblock %}