{# Modèle de base #}
{% extends "base.twig" %}

{# Contenu de la page demandé #}
{% block content %}
	{# Description de la page #}
	<p>{{ actions_phrases["actions_description"] }}</p>

	{# Actions #}
	<section id="actions">
		{# Titre de la section #}
		<h2>{{ actions_phrases["actions_actions_title"] }}</h2>

		{# Actions de la section #}
		<ul>
			<li data-action="shutdown">
				{# Arrêter le serveur #}
				{{ global_phrases["global_shutdown_title"] }}
				<em>{{ global_phrases["global_shutdown_subtitle"] }}</em>
			</li>

			<li data-action="restart">
				{# Redémarrer le serveur #}
				{{ global_phrases["global_restart_title"] }}
			</li>

			<li data-action="update">
				{# Mettre à jour le serveur #}
				{{ global_phrases["global_update_title"] }}
			</li>

			<li data-action="service">
				{# Passer en mode de maintenance #}
				{{ global_phrases["global_service_title"] }}
			</li>
		</ul>

		<hr />

		{# Interrupteurs de la section #}
		<ul>
			<li data-action="flashlight">
				{# Afficher ou non l'usage de la lampe torche #}
				<span>{{ actions_phrases["actions_switch_flashlight"] }}</span>

				<label class="switch">
					<input type="checkbox" {{ index_flashlight_switch != "" ? "checked" : "" }} />
					<span></span>
				</label>
			</li>

			<li data-action="cheats">
				{# Autorise ou non l'utilisation des commandes de triche #}
				<span>{{ actions_phrases["actions_switch_cheats"] }}</span>

				<label class="switch">
					<input type="checkbox" {{ index_cheats_switch == "1" ? "checked" : "" }} />
					<span></span>
				</label>
			</li>

			<li data-action="voice">
				{# Autorise ou non les communications vocales #}
				<span>{{ actions_phrases["actions_switch_voice"] }}</span>

				<label class="switch">
					<input type="checkbox" {{ index_voice_switch == "1" ? "checked" : "" }} />
					<span></span>
				</label>
			</li>
		</ul>
	</section>

	{# Commandes #}
	<section id="commands">
		{# Titre de la section #}
		<h2>{{ actions_phrases["actions_commands_title"] }}</h2>

		{# Commandes de la section #}
		<ul>
			{% for i in range(1, 1) %}
				<li>
					<span>Nom de la commande {{ i }}</span>

					{# Supprimer la commande #}
					<button type="button" name="remove_command" value={{ "uuid_" ~ i }}>{{ actions_phrases["actions_commands_remove"] }}</button>

					{# Exécuter la commande #}
					<button type="button" name="execute_command" value={{ "uuid_" ~ i }}>{{ actions_phrases["actions_commands_execute"] }}</button>
				</li>
			{% endfor %}

			<li>
				<span>{{ actions_phrases["actions_add_command"] }}</span>

				{{ actions_phrases["actions_remaining"]|format(5) }}
			</li>
		</ul>

		{# Bouton avec icône pour ajouter une commande #}
		<div data-image="path"></div>
	</section>
{% endblock %}