{# Modèle de base #}
{% extends "base.twig" %}

{# Contenu de la page demandé #}
{% block content %}
	{# Description de la page #}
	<p>{{ configuration_phrases["configuration_description"] }}</p>

	{# Informations de connexion FTP #}
	<section id="stockage">
		{# Titre du formulaire #}
		<h2>{{ configuration_phrases["configuration_storage_title"] }}</h2>

		{# Spécifications juridiques #}
		<div>
			<i class="bi bi-exclamation-triangle-fill"></i>
			<span>{{ form_phrases["form_rgpd_warning"] }}</span>
		</div>

		{# Champs du formulaire #}
		<form method="POST">
			{# Adresse IP #}
			<label for="ftp_address">{{ configuration_phrases["configuration_storage_address"] }}<span>*</span></label>
			<input type="text" spellcheck="false" id="ftp_address" name="ftp_address" placeholder="51.75.125.244" minlength="7" maxlength="15" value="{{ configuration_credentials["host"] }}" required />

			{# Port de communication #}
			<input type="text" spellcheck="false" id="ftp_port" name="ftp_port" placeholder="22" minlength="5" maxlength="5" value="{{ configuration_credentials["port"] }}" required />

			{# Type de protocole #}
			<label for="ftp_protocol">{{ configuration_phrases["configuration_storage_protocol"] }}<span>*</span></label>
			<select id="ftp_protocol" name="ftp_protocol">
				<option value="ftp" {{ configuration_credentials["protocol"] == "ftp" ? "checked" : "" }}>{{ configuration_phrases["configuration_storage_ftp"] }}</option>
				<option value="sftp" {{ configuration_credentials["protocol"] == "sftp" ? "checked" : "" }}>{{ configuration_phrases["configuration_storage_sftp"] }}</option>
			</select>

			{# Nom d'utilisateur #}
			<label for="ftp_user">{{ configuration_phrases["configuration_storage_username"] }}<span>*</span></label>
			<input type="text" autocomplete="username" spellcheck="false" id="ftp_user" name="ftp_user" placeholder="johndoe" value="{{ configuration_credentials["username"] }}" required />

			{# Mot de passe #}
			<label for="ftp_password">{{ configuration_phrases["configuration_storage_password"] }}<span>*</span></label>
			<input type="password" autocomplete="current-password" spellcheck="false" id="ftp_password" name="ftp_password" placeholder="?JohnDoe2022!" value="{{ configuration_credentials["password"] }}" required />

			{# Validation/Mise à jour #}
			<input type="submit" data-action="{{ configuration_credentials is not empty ? "update" : "insert" }}" value="{{ configuration_credentials is not empty ? global_phrases["global_update_title"] : form_phrases["form_validate_button"] }}" />
		</form>
	</section>

	{# Paramètres disponibles pour modification #}
	<section id="parameters">
		{# Titre de la section #}
		<h2>{{ configuration_phrases["configuration_settings_title"] }}</h2>

		{# Paramètres de la section #}
		<ul>
			<li>
				{# Nom du premier paramètre #}
				<h3>Nom d'affichage</h3>

				{# Description du premier paramètre #}
				<p>Ce paramètre permet de changer le nom du serveur affiché sur la liste des serveurs mondiaux de la communauté Steam.</p>

				{# Champ de saisie du premier paramètre #}
				<input type="text" placeholder="<a remplacer>" />

				{# Bouton de mise à jour #}
				<button type="button" data-action="update">
					<i class="bi bi-cloud-upload-fill"></i>
				</button>
			</li>

			<li>
				{# Nom du deuxième paramètre #}
				<h3>Nombre de joueurs</h3>

				{# Description du deuxième paramètre #}
				<p>Ce paramètre permet de changer le nombre maximum de joueurs qui peuvent se connecter simultanément sur le serveur.</p>

				{# Champ de saisie du deuxième paramètre #}
				<input type="text" placeholder="<a remplacer>" />

				{# Bouton de mise à jour #}
				<button type="button" data-action="update">
					<i class="bi bi-cloud-upload-fill"></i>
				</button>
			</li>

			<li>
				{# Nom du troisième paramètre #}
				<h3>Mot de passe d'administration</h3>

				{# Description du troisième paramètre #}
				<p>Ce paramètre permet de changer le mot de passe vers le module d'administration RCON pour le contrôle à distance.</p>

				{# Champ de saisie du troisième paramètre #}
				<input type="text" placeholder="<a remplacer>" />

				{# Bouton de mise à jour #}
				<button type="button" data-action="update">
					<i class="bi bi-cloud-upload-fill"></i>
				</button>
			</li>
		</ul>
	</section>
{% endblock %}