{# Modèle de base #}
{% extends "base.twig" %}

{# Contenu de la page demandé #}
{% block content %}
	{# Description de la page #}
	<p>{{ dashboard_phrases["dashboard_description"] }}</p>

	{# Sélection des serveurs #}
	<section id="servers">
		{# Titre de la section #}
		<h2>{{ dashboard_phrases["dashboard_servers"] }}</h2>

		<ul>
			{% for server in dashboard_instances %}
				<li data-image="assets/images/games/{{ server["game_id"] }}_background.jpg">
					{# Récupération du nom de la langue #}
					{% set address = server["client_address"] ~ ":" ~ server["client_port"] %}

					{# Informations générales #}
					<span>{{ getNameByGameID(server["game_id"], address) }}</span>
					<span>{{ address }}</span>

					<button type="button" name="server_edit" value="{{ address }}">
						{# Édition des propriétés du serveur #}
						<i class="bi bi-pencil-square"></i>
					</button>

					<button type="button" name="server_connect" value="{{ address }}">
						{# Connexion directe au serveur #}
						<i class="bi bi-plug"></i>
					</button>
				</li>
			{% endfor %}
		</ul>

		<button type="button" name="servers_list" value="0">
			{# Serveurs précédents #}
			<i class="bi bi-chevron-left"></i>
		</button>

		<span>1 / {{ max(dashboard_instances|length // 3, 1) }}</span>

		<button type="button" name="servers_list" value="2">
			{# Serveurs suivants #}
			<i class="bi bi-chevron-right"></i>
		</button>
	</section>

	{# État général #}
	<section id="state">
		{# Titre de la section #}
		<h3>{{ dashboard_phrases["dashboard_state"] }}</h3>

		<ul>
			<li>
				{# Première information #}
				<div class="circle"></div>
				<h4>Lorem ipsum</h4>
				<em>Lorem ipsum dolor sit amet</em>
			</li>

			<li>
				{# Deuxième information #}
				<div class="circle"></div>
				<h4>Lorem ipsum</h4>
				<em>Lorem ipsum dolor sit amet</em>
			</li>

			<li>
				{# Troisième information #}
				<div class="circle"></div>
				<h4>Lorem ipsum</h4>
				<em>Lorem ipsum dolor sit amet</em>
			</li>
		</ul>
	</section>

	{# Statistiques importantes #}
	<section id="stats">
		{# Titre de la section #}
		<h3>{{ header_phrases["header_subtitle_statistics"] }}</h3>

		{# Description de la section #}
		<p>Lorem ipsum dolor sit amet</p>

		{# Graphiques simplifiées #}
		<div class="chart"></div>

		<ul>
			<li class="circle"></li>
			<li class="circle"></li>
			<li class="circle"></li>
		</ul>
	</section>

	{# Actions rapides #}
	<section id="actions">
		{# Titre de la section #}
		<h3>{{ header_phrases["header_search_title"] }}</h3>

		<ul>
			<li>
				{# Arrêter le serveur #}
				{{ global_phrases["global_shutdown_title"] }}
				<em>{{ global_phrases["global_shutdown_subtitle"] }}</em>
			</li>

			<li>
				{# Redémarrer le serveur #}
				{{ global_phrases["global_restart_title"] }}
			</li>

			<li>
				{# Mettre à jour le serveur #}
				{{ global_phrases["global_update_title"] }}
			</li>

			<li>
				{# Passer en mode de maintenance #}
				{{ global_phrases["global_maintenance_title"] }}
			</li>
		</ul>
	</section>

	{# Dernière action réalisée #}
	<section id="last">
		{# Titre de la section #}
		<h3>{{ dashboard_phrases["dashboard_actions"] }}</h3>

		{# Nom des dernières tâches (descendantes) #}
		<ul>
			<li>
				{# Dernière tâche effectuée #}
				<i class="bi bi-check-square-fill"></i>
				<span>XXhXX</span>
				<em>Lorem ipsum dolor sit amet</em>
			</li>

			<li>
				{# Avant-dernière tâche effectuée #}
				<i class="bi bi-x-square-fill"></i>
				<span>XXhXX</span>
				<em>Lorem ipsum dolor sit amet</em>
			</li>

			<li>
				{# Tâche la plus anciennne effectuée #}
				<i class="bi bi-cloud-check-fill"></i>
				<span>XXhXX</span>
				<em>Lorem ipsum dolor sit amet</em>
			</li>
		</ul>
	</section>
{% endblock %}