{# Modèle de base #}
{% extends "base.twig" %}

{# Injection de code JavaScript #}
{% block javascript %}
	<script>
		// Libellés demandant le changement de l'adresse IP/port du serveur.
		const edit_client_address = "{{ dashboard_phrases["dashboard_edit_client_address"] }}";
		const edit_client_port = "{{ dashboard_phrases["dashboard_edit_client_port"] }}";

		// Libellés demandant le changement de l'adresse IP/port du module d'administration.
		const edit_admin_address = "{{ dashboard_phrases["dashboard_edit_admin_address"] }}";
		const edit_admin_port = "{{ dashboard_phrases["dashboard_edit_admin_port"] }}";
		const edit_admin_password = "{{ dashboard_phrases["dashboard_edit_admin_password"] }}";

		// Libellés pour les différents états du serveur.
		const server_no_data = "{{ dashboard_phrases["dashboard_state_nodata"] }}";		// Hors service/aucune donnée.
		const server_running = "{{ dashboard_phrases["dashboard_state_running"] }}";	// En fonctionnement.
		const server_service = "{{ dashboard_phrases["dashboard_state_service"] }}";	// En maintenance/mise à jour.

		// Message d'erreur lorsqu'une erreur fatale se produit dans la récupération des
		//	information d'un ou plusieurs serveurs.
		const server_fatal_error = "{{ dashboard_phrases["dashboard_state_fatal"] }}";

		// Adresse IP de l'instance connectée.
		let current_address = "{{ dashboard_current_server["admin_address"]|default(dashboard_current_server["client_address"]) }}";

		// Port de communication de l'instance connectée.
		let current_port = "{{ dashboard_current_server["admin_port"]|default(dashboard_current_server["client_port"]) }}";

		// Mot de passe chiffré de l'instance connectée.
		let current_password = "{{ dashboard_current_server["admin_password"] }}";
	</script>
{% endblock %}

{# Contenu de la page demandé #}
{% block content %}
	{# Description de la page #}
	<p>{{ dashboard_phrases["dashboard_description"] }}</p>

	{# Sélection des serveurs #}
	<section id="servers">
		{# Titre de la section #}
		<h2>{{ dashboard_phrases["dashboard_servers"] }}</h2>

		<ul>
			{% for server in dashboard_instances %}
				<li data-image="assets/images/games/{{ server["game_id"] }}_background.jpg">
					{# Construction de l'adresse IP #}
					{% set address = server["admin_address"]|default(server["client_address"]) ~ ":" ~ server["admin_port"]|default(server["client_port"]) %}

					{# Informations générales #}
					<span>{{ getNameByGameID(server["game_id"], address) ~ " (" ~ loop.index ~ ")" }}</span>
					<span>{{ address }}</span>

					{# Édition des propriétés du serveur #}
					<form method="POST">
						<input type="hidden" name="action" value="edit" />
						<input type="hidden" name="address" value="{{ address }}" />

						<button type="submit" name="server_edit">
							<i class="bi bi-pencil-square"></i>
						</button>
					</form>

					{# Connexion directe au serveur #}
					<form method="POST">
						<input type="hidden" name="action" value="connect" />
						<input type="hidden" name="address" value="{{ address }}" />

						<button type="submit" name="server_connect">
							<i class="bi bi-plug"></i>
						</button>
					</form>
				</li>
			{% endfor %}
		</ul>

		<button type="button" name="servers_list" value="0">
			{# Serveurs précédents #}
			<i class="bi bi-chevron-left"></i>
		</button>

		<span>1 / {{ max(dashboard_instances|length // 3, 1) }}</span>

		<button type="button" name="servers_list" value="2">
			{# Serveurs suivants #}
			<i class="bi bi-chevron-right"></i>
		</button>
	</section>

	{# État général #}
	<section id="state">
		{# Titre de la section #}
		<h3>{{ dashboard_phrases["dashboard_state"] }}</h3>

		<ul>
			<li>
				{# Informations d'état #}
				<div class="circle"></div>
				<h4>{{ dashboard_phrases["dashboard_state_info"] }}</h4>
				<em data-field="state">{{ dashboard_phrases["dashboard_state_nodata"] }}</em>
			</li>

			<li>
				{# Nom de la carte actuelle #}
				<div class="circle"></div>
				<h4>{{ dashboard_phrases["dashboard_state_map"] }}</h4>
				<em data-field="map">gm_source</em>
			</li>

			<li>
				{# Nombre de joueurs (robots compris) #}
				<div class="circle"></div>
				<h4>{{ dashboard_phrases["dashboard_state_players"] }}</h4>
				<em data-field="players">0 / 0 [0]</em>
			</li>
		</ul>
	</section>

	{# Liste des joueurs #}
	<section id="players">
		{# Titre de la section #}
		<h3>{{ dashboard_phrases["dashboard_players"] }}</h3>

		{# Détails des joueurs #}
		<ul></ul>
	</section>

	{# Actions rapides #}
	<section id="actions">
		{# Titre de la section #}
		<h3>{{ header_phrases["header_search_title"] }}</h3>

		<ul>
			<li data-action="shutdown">
				{# Arrêter le serveur #}
				{{ global_phrases["global_shutdown_title"] }}
				<em>{{ global_phrases["global_shutdown_subtitle"] }}</em>
			</li>

			<li data-action="restart">
				{# Redémarrer le serveur #}
				{{ global_phrases["global_restart_title"] }}
			</li>

			<li data-action="update">
				{# Mettre à jour le serveur #}
				{{ global_phrases["global_update_title"] }}
			</li>

			<li data-action="maintenance">
				{# Passer en mode de maintenance #}
				{{ global_phrases["global_maintenance_title"] }}
			</li>
		</ul>
	</section>

	{# Dernière action réalisée #}
	<section id="last">
		{# Titre de la section #}
		<h3>{{ dashboard_phrases["dashboard_actions"] }}</h3>

		{# Nom des dernières tâches (descendantes) #}
		<ul>
			<li>
				{# Dernière tâche effectuée #}
				<i class="bi bi-check-square-fill"></i>
				<span>XXhXX</span>
				<em>Lorem ipsum dolor sit amet</em>
			</li>

			<li>
				{# Avant-dernière tâche effectuée #}
				<i class="bi bi-x-square-fill"></i>
				<span>XXhXX</span>
				<em>Lorem ipsum dolor sit amet</em>
			</li>

			<li>
				{# Tâche la plus anciennne effectuée #}
				<i class="bi bi-cloud-check-fill"></i>
				<span>XXhXX</span>
				<em>Lorem ipsum dolor sit amet</em>
			</li>
		</ul>
	</section>
{% endblock %}