{# Informations générales de l'utilisateur #}
<article id="user">
	{# Titre du formulaire #}
	<h2>{{ index_phrases["index_signup"] }}</h2>

	{# Description du formulaire #}
	<p>{{ form_phrases["form_signup_description_user"] }}</p>

	{# Spécifications juridiques #}
	<div>
		<i class="bi bi-exclamation-triangle-fill"></i>
		<span>{{ form_phrases["form_rgpd_warning"] }}</span>
	</div>

	{# Champs du formulaire #}
	<form novalidate>
		{# Message d'erreur #}
		<p class="error"></p>

		{# Nom d'utilisateur #}
		<label for="username">{{ form_phrases["form_signup_username"] }}<span>*</span></label>
		<input type="text" autocomplete="username" spellcheck="false" id="username" name="username" placeholder="johndoe" minlength="10" maxlength="50" required />
		<span></span>

		{# Mot de passe #}
		<label for="password">{{ form_phrases["form_signup_password"] }}<span>*</span></label>
		<input type="password" autocomplete="current-password" spellcheck="false" id="password" name="password" placeholder="?JohnDoe2022!" minlength="10" maxlength="60" required />
		<span></span>

		{# Bouton d'affichage du mot de passe #}
		<label for="signup_clear">{{ form_phrases["form_clear_password"] }}</label>
		<input type="checkbox" id="signup_clear" /><br /><br />

		{# Génération d'un mot de passe sécurisé #}
		<label for="generation">{{ form_phrases["form_signup_generation"] }}</label>
		<input type="checkbox" id="generation" /><br /><br />

		{# Validation/annulation #}
		<input type="reset" value="{{ form_phrases["form_cancel_button"] }}" />
		<input type="submit" value="{{ form_phrases["form_validate_button"] }}" />
	</form>

	{# Liste des étapes actuelles #}
	<ul>
		<li class="active">1</li>
		<li>2</li>
	</ul>
</article>

{# Informations du serveur #}
<article id="server">
	{# Titre du formulaire #}
	<h2>Informations du serveur</h2>

	{# Description du formulaire #}
	<p>{{ form_phrases["form_signup_description_server"] }}</p>

	{# Spécifications juridiques #}
	<div>
		<i class="bi bi-exclamation-triangle-fill"></i>
		<span>{{ form_phrases["form_rgpd_warning"] }}</span>
	</div>

	{# Champs du formulaire #}
	<form action="dashboard.php" method="POST" novalidate>
		{# Message d'erreur #}
		<p class="error"></p>

		{# Informations client (adresse IP & port) #}
		<label>{{ form_phrases["form_signup_client_title"] }}<span>*</span></label>

		<input type="text" id="server_address" name="server_address" placeholder="51.75.125.244" minlength="10" maxlength="15" required />
		<span></span>

		<input type="text" id="server_port" name="server_port" placeholder="27015" minlength="5" maxlength="5" required />
		<span></span>

		<em>{{ form_phrases["form_signup_client_description"] }}</em>

		<hr />

		{# Informations administrateur (adresse IP, port & mot de passe) #}
		<label>{{ form_phrases["form_signup_admin_title"] }}</label>

		<input type="text" id="admin_address" name="admin_address" placeholder="51.75.125.244" />
		<input type="text" id="admin_port" name="admin_port" placeholder="27025" />
		<input type="text" id="admin_password" name="admin_password" placeholder="a2D2ea4NE6e9As" />

		<em>{{ form_phrases["form_signup_admin_description"] }}</em>

		{# Paramètres de liaison #}
		<label for="secure_only">{{ form_phrases["form_signup_secure_only"] }}</label>
		<input type="checkbox" id="secure_only" /><br /><br />

		<label for="auto_connect">{{ form_phrases["form_signup_auto_connect"] }}</label>
		<input type="checkbox" id="auto_connect" /><br /><br />

		{# Validation/annulation #}
		<input type="reset" value="{{ form_phrases["form_cancel_button"] }}" />
		<input type="submit" value="{{ form_phrases["form_validate_button"] }}" />
	</form>

	{# Liste des étapes actuelles #}
	<ul>
		<li>1</li>
		<li class="active">2</li>
	</ul>
</article>