{# Modèle de base #}
{% extends "base.twig" %}

{# Injection de code JavaScript #}
{% block javascript %}
	<script>
		// Libellé demendant le nom d'utilisateur pour une récupération de compte.
		const recover_password_username = "{{ form_phrases["form_signin_username"] }}";

		// Libellé demendant le nouveau mot de passe pour une récupération de compte.
		const recover_password_password = "{{ form_phrases["form_signin_password"] }}";

		// Message d'erreur lorsqu'une erreur s'est produite lors de l'inscription.
		const form_signup_failed = "{{ form_phrases["form_signup_failed"]|escape }}";

		// Message d'erreur lorsqu'une erreur s'est produite lors de la connexion.
		const form_signin_failed = "{{ form_phrases["form_signin_failed"]|escape }}";
	</script>
{% endblock %}

{# En-tête de la page #}
{% block header %}
	<ul>
		{# Les boutons présents dans l'en-tête peuvent variés si
			un utilisateur est déjà connecté à son compte. #}
		{% if user_connected %}
			{# Accès au tableau de bord #}
			<li><a href="?target=dashboard">{{ header_phrases["header_subtitle_dashboard"] }}</a></li>
		{% else %}
			{# Formulaire d'inscription #}
			<li><button type="button">{{ index_phrases["index_signup"] }}</button></li>

			{# Formulaire de connexion #}
			<li><button type="button">{{ index_phrases["index_signin"] }}</button></li>
		{% endif %}
	</ul>
{% endblock %}

{# Barre de navigation #}
{% block navigation %} {% endblock %}

{# Contenu de la page demandé #}
{% block content %}
	{# Vidéo en arrière-plan #}
	<video autoplay muted loop>
		<source src="assets/videos/landing.mp4" type="video/mp4" />
	</video>

	{# Informations générales du site #}
	<section id="informations">
		{# Carrousel des images #}
		<ul>
			{% for i in range(1, 4) %}
				<li><img src="assets/images/landing/{{ i }}.jpg" alt="Image {{ i }}" /></li>
			{% endfor %}
		</ul>

		{# Présentation des fonctionnalités #}
		<article>
			{# Logo du site #}
			<img src="path" alt="Logo du site" />

			{# Titre du site #}
			<h1>{{ head_phrases["head_title"] }}</h1>

			{# Bouton de défilement (précédent) #}
			<button type="button">
				<i class="bi bi-caret-up-fill"></i>
			</button>

			{# Paragraphe pour chaque image #}
			<ul>
				{% for i in range(1, 4) %}
					<li>{{ index_phrases["index_feature_" ~ i] }}</li>
				{% endfor %}
			</ul>

			{# Bouton de défilement (suivant) #}
			<button type="button">
				<i class="bi bi-caret-down-fill"></i>
			</button>
		</article>
	</section>

	{# Formulaire d'inscription #}
	<section id="signup">
		{% include("form_signup.twig") %}
	</section>

	{# Formulaire de connexion #}
	<section id="signin">
		{% include("form_signin.twig") %}
	</section>
{% endblock %}