{# Modèle de base #}
{% extends "base.twig" %}

{# Contenu de la page demandé #}
{% block content %}
	{# Description de la page #}
	<p>{{ tasks_phrases["tasks_description"] }}</p>

	<section id="tasks">
		{# Titre de la section #}
		<h2>{{ header_phrases["header_subtitle_tasks"] }}</h2>

		{# Visualisation des tâches planifiées #}
		<table>
			{# En-tête du tableau #}
			<thead>
				<tr>
					<th>{{ tasks_phrases["tasks_server_label"] }}</th>
					<th>{{ tasks_phrases["tasks_date_label"] }}</th>
					<th>{{ tasks_phrases["tasks_action_label"] }}</th>
				</tr>
			</thead>

			{# Corps du tableau #}
			<tbody>
				<tr class="finished">
					{# Premier événement avec date de déclenchement passée #}
					<td>
						Nom du premier serveur
						<em>XX.XX.XX.XX</em>
					</td>
					<td>13/03/2022 à 23h30</td>
					<td>Redémarrage</td>
				</tr>

				<tr>
					{# Premier événément avec date de déclenchement prochaine #}
					<td>
						Nom du deuxième serveur
						<em>XX.XX.XX.XX</em>
					</td>
					<td>13/03/2022 à 00h30</td>
					<td>Mise à jour</td>
				</tr>

				<tr>
					{# Deuxième événément avec date de déclenchement prochaine #}
					<td>
						Nom du troisième serveur
						<em>XX.XX.XX.XX</em>
					</td>
					<td>14/03/2022 à 00h30</td>
					<td>Maintenance</td>
				</tr>

				<tr class="finished">
					{# Deuxième événement avec date de déclenchement passée #}
					<td>
						Nom du quatrième serveur
						<em>XX.XX.XX.XX</em>
					</td>
					<td>18/03/2022 à 07h40</td>
					<td>Redémarrage</td>
				</tr>

				<tr>
					{# Cinquième événément avec date de déclenchement prochaine #}
					<td>
						Nom du cinquième serveur
						<em>XX.XX.XX.XX</em>
					</td>
					<td>26/03/2022 à 14h00</td>
					<td>Maintenance</td>
				</tr>
			</tbody>
		</table>

		{# Gestion des tâches planifiées #}
		<form novalidate>
			{# Serveur concerné #}
			<div>
				<label for="server">{{ tasks_phrases["tasks_server_label"] }}</label>
				<select id="server" name="server">
					{% for i in range(1, 5) %}
						<li>
							<option value={{ "server_" ~ i }}>Serveur #{{ i }} (XX.XX.XX.XX)</option>
						</li>
					{% endfor %}
				</select>
			</div>

			{# Date de déclenchement #}
			<div>
				<label for="date">{{ tasks_phrases["tasks_date_label"] }}</label>
				<input type="date" id="date" name="date" />
			</div>

			{# Action de réalisation #}
			<div>
				<label for="action">{{ tasks_phrases["tasks_action_label"] }}</label>
				<select id="action" name="action">
					<option value="shutdown">{{ global_phrases["global_shutdown_title"] }}</option>
					<option value="restart">{{ global_phrases["global_restart_title"] }}</option>
					<option value="update">{{ global_phrases["global_update_title"] }}</option>
					<option value="maintenance">{{ global_phrases["global_service_title"] }}</option>
				</select>
			</div>

			{# Validation finale #}
			<input type="submit" value="{{ form_phrases["form_validate_button"] }}" />
		</form>
	</section>
{% endblock %}